body
{
    margin: 0;
}

.row
{
    display: flex;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 163, 162);

    top: 0;
    width: 100% 
}

li
{
    float: left;
    align-self: center;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active)
{
    background-color: cadetblue;
}

.active
{
    background-color: rgb(255, 0, 0);
}

